.wrap {
  max-width: 1020px;
  margin: 0px auto;
  padding-right: 20px;
  padding-left: 20px;
}
.wrap--full {
  max-width: 100%;
  padding-right: 0;
  padding-left: 0;
}

body {
  font-family: "avenir";
}
body.locked {
  overflow: hidden;
  height: 100vh;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.title {
  font-size: 72px;
}

.header__top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  padding-top: 34px;
  padding-bottom: 10px;
}
.header__logo {
  -ms-grid-column-align: center;
      justify-self: center;
  width: 100%;
}
.header__logo img {
  max-width: 377px;
  min-width: 220px;
  width: 100%;
}
.header__loginButton {
  -ms-grid-column-align: end;
      justify-self: end;
}
.header__nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  padding-bottom: 15px;
  padding-right: 10px;
  padding-left: 10px;
}
.header__nav a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px;
  padding-top: 20px;
  padding-bottom: 15px;
  text-decoration: none;
  color: inherit;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 300;
  border-top: 4px solid transparent;
}
.header__nav a:hover, .header__nav a.header__active {
  border-color: #F87D33;
  color: #F87D33;
}
.header__searchField {
  margin-right: 20px;
}

.searchField {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  height: 100%;
}
.searchField input {
  width: 100%;
  max-width: 230px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: none;
  border-bottom: 2px solid #EBE5D6;
  padding-left: 25px;
}
.searchField span {
  position: absolute;
  left: 0;
  bottom: 10px;
  font-size: 14px;
}

.loginButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: inherit;
  padding: 6px 0px;
}
.loginButton span {
  font-size: 26px;
  padding: 0px 7px;
}
.loginButton p {
  padding: 0px 7px;
  font-size: 18px;
  color: #F87D33;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.loginButton:hover p {
  opacity: 0.7;
}

.imgBanner {
  height: 560px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.titleBlock img {
  display: none;
}
.titleBlock__wrap {
  padding-top: 60px;
  padding-bottom: 30px;
}
.titleBlock__title {
  text-align: center;
  font-weight: 300;
  line-height: 1.25em;
  color: #F87D33;
  margin-bottom: 6px;
}
.titleBlock__subtitle {
  text-align: center;
  font-size: 20px;
}

.mainBanner__wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  min-height: 855px;
  height: 0;
}
.mainBanner__info {
  height: 100%;
  background: #fff5f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mainBanner__title {
  text-align: center;
  margin-bottom: 38px;
  color: #C74300;
  font-family: "playfair";
  font-weight: 400;
  font-size: 77px;
  margin-top: 150px;
}
.mainBanner__button {
  text-decoration: none;
  display: block;
  text-transform: uppercase;
  border: 1px solid #C74300;
  border-radius: 100px;
  letter-spacing: 0.1em;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  color: #C74300;
  width: 160px;
  height: 48px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.mainBanner__button:hover {
  color: #fff;
  background: #C74300;
}
.mainBanner__img {
  overflow: hidden;
}
.mainBanner__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.teamBlock__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
}
.teamBlock__item {
  max-height: 700px;
  overflow: hidden;
  position: relative;
}
.teamBlock__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.teamBlock__text {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px 20px;
  color: #fff;
  max-width: 250px;
  width: 100%;
}
.teamBlock__text h5 {
  font-family: "playfair";
  font-style: italic;
  font-weight: 400;
  font-size: 28px;
  margin-bottom: 15px;
}

.productSlider__wrap {
  padding-top: 100px;
  padding-bottom: 60px;
}
.productSlider .slick-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.arrow {
  text-decoration: none;
  color: inherit;
}
.arrow span {
  font-size: 27px;
}
.arrow--prev {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.productGrid__wrap {
  padding-top: 60px;
  padding-bottom: 60px;
}
.productGrid__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
  grid-row-gap: 40px;
  overflow: hidden;
  width: calc(100% - 70px - 70px);
  margin: 0px auto;
}

.item {
  position: relative;
  text-decoration: none;
  color: inherit;
}
.item__badge {
  position: absolute;
  top: 0px;
  left: 0px;
  background: #F87D33;
  color: #fff;
  padding: 2px 12px;
  font-size: 16px;
  z-index: 5;
}
.item__imgBlock {
  aspect-ratio: 1/1;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.item__hoverBadge {
  position: absolute;
  z-index: 5;
  bottom: -50px;
  right: 0;
  left: 0;
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 50px;
  background: rgba(255, 255, 255, 0.7490196078);
  letter-spacing: 0.05em;
  font-size: 18px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.item__img {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.item__img--normal {
  opacity: 1;
}
.item__img--hover {
  opacity: 0;
}
.item__desc {
  padding-top: 20px;
}
.item__title {
  padding-bottom: 10px;
}
.item__underline {
  display: block;
  width: calc(100% + 20px);
  background: #000;
  margin: 0px -10px;
  height: 1px;
}
.item__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
}
.item__price s {
  margin-right: 10px;
}
.item:last-child .item__underline {
  margin-right: 0;
  margin-left: 0;
  width: 100%;
}
.item:hover .item__img--normal {
  opacity: 0;
}
.item:hover .item__img--hover {
  opacity: 1;
}
.item:hover .item__hoverBadge {
  bottom: 0;
}
.item--big {
  margin: 0px 15px;
}
.item--big .item__underline {
  display: none;
}
.item--big .item__title {
  padding-bottom: 0;
}

.posts__wrap {
  padding-top: 60px;
  padding-bottom: 60px;
}
.posts__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 40px 1fr 40px 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
}

.post {
  aspect-ratio: 1/1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  color: #fff;
  background: #000;
  padding: 20px 25px;
  padding-top: 40px;
}
.post img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.6;
}
.post__top {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
}
.post__divider {
  width: 2px;
  height: 2px;
  background: #fff;
  margin: 0px 5px;
}
.post p {
  position: relative;
  z-index: 2;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
  font-size: 26px;
  font-weight: 300;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 140%;
}
.post:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.subForm__wrap {
  padding-bottom: 60px;
  padding-top: 60px;
}
.subForm__heading {
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 10px;
}
.subForm form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 450px;
  margin: 0px auto;
}
.subForm form input {
  width: 100%;
  border: 1px solid #000;
  border-color: transparent;
  border-bottom-color: #000;
  margin-bottom: 10px;
  padding: 10px;
}
.subForm form input:hover {
  border: 1px solid #000;
}
.subForm form a {
  width: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-size: 18px;
  height: 35px;
  background: #000;
  color: #fff;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.subForm form a:hover {
  background: rgba(0, 0, 0, 0.6);
}

.socials__wrap {
  padding-bottom: 60px;
}
.socials__grid {
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  -ms-grid-columns: 1fr 10px 1fr 10px 1fr;
  grid-template-columns: repeat(3, 1fr);
  max-width: 140px;
  margin: 0px auto;
}
.socials a {
  text-decoration: none;
  display: block;
  color: #000;
  aspect-ratio: 1/1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.socials a span {
  font-size: 40px;
}
.socials a:hover {
  opacity: 0.8;
}

.catalogGrid__wrap {
  padding-top: 100px;
  padding-bottom: 100px;
}
.catalogGrid__wrap_noPadding {
  padding: 0;
}
.catalogGrid__grid {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 20px;
}
.catalogGrid__item .item__underline {
  display: none;
}
.catalogGrid__item p {
  padding-bottom: 0;
  text-align: center;
}
.catalogGrid__item .item__price {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ui-widget.ui-widget-content {
  border: 1px solid #000;
}

.ui-selectmenu-icon.ui-icon {
  display: none;
}

.ui-selectmenu-text {
  position: relative;
  z-index: 4;
  margin-right: 0;
}
.ui-selectmenu-text::after {
  content: "\e900";
  position: absolute;
  right: 0px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  z-index: 10;
  font-family: "icomoon" !important;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
  background: #f5f5f5;
  border-color: #f5f5f5;
  color: #000;
}

.ui-menu .ui-menu-item-wrapper {
  padding-top: 8px;
  padding-bottom: 8px;
}

.catalogContent__wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (auto)[2];
  grid-template-rows: repeat(2, auto);
  -ms-grid-columns: 240px 1fr;
  grid-template-columns: 240px 1fr;
  padding-top: 100px;
  padding-bottom: 60px;
}

.catalogContent__wrap > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.catalogContent__wrap > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.catalogContent__wrap > *:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.catalogContent__wrap > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
.catalogContent__headRow {
  padding-bottom: 30px;
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column-span: 2;
  grid-column: span 2;
}
.catalogContent__headRow h2 {
  font-size: 26px;
  font-weight: 400;
}
.catalogContent__customSelect .ui-selectmenu-button.ui-button {
  background: #fff;
  border: 1px solid #000;
  border-radius: 0;
  padding-top: 8px;
  padding-bottom: 8px;
}
.catalogContent__customSelect .ui-selectmenu-button.ui-button:focus {
  color: #000;
}
.catalogContent__filterBtn {
  display: none;
}

.filter {
  max-width: 250px;
  padding: 20px;
  padding-top: 0;
}
.filter__headRow {
  display: none;
}
.filter__bottomRow {
  display: none;
}
.filter__heading {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
}
.filter__content {
  display: none;
  padding-bottom: 20px;
}
.filter__row {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.filter__row--defaultOpen .filter__content {
  display: block;
}
.filter__row:first-child {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.filter__plus {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10px;
  height: 10px;
}
.filter__plus span {
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  background: #000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.filter__plus span:last-child {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.filter__plus--minus span:last-child {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
.filter__colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 10px;
}
.filter__color {
  display: block;
  width: 25px;
  height: 25px;
  min-width: 25px;
  border-radius: 50%;
  padding: 3px;
  border: 1px solid transparent;
  margin-right: 5px;
  margin-bottom: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.filter__color--active, .filter__color:hover {
  border-color: #000;
}
.filter__color span {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.filter__clear {
  display: block;
  font-size: 12px;
  margin-top: 10px;
  cursor: pointer;
}

.slider .slider-range {
  width: calc(100% - 18px);
  margin: 9px auto;
}
.slider .slider-range.ui-slider-horizontal {
  height: 2px;
  background: rgba(0, 0, 0, 0.3);
  border: none;
}
.slider .slider-range.ui-slider-horizontal .ui-slider-range {
  background: #323232;
  height: 2px;
}
.slider .slider-range.ui-slider-horizontal .ui-slider-handle {
  height: 18px;
  width: 18px;
  border: none;
  border-radius: 50%;
  background: #323232;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.slider__labels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 5px;
  font-size: 14px;
  opacity: 0.8;
}

.checkRow {
  position: relative;
  padding: 5px 0;
}
.checkRow label {
  position: relative;
  padding-top: 1px;
  padding-left: 25px;
  font-size: 14px;
  font-family: "avenir" !important;
}
.checkRow label::before {
  font-family: "icomoon" !important;
  position: absolute;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  left: 3px;
  top: 3px;
  font-size: 12px;
  color: #000;
  opacity: 0;
}
.checkRow label::after {
  content: "";
  display: block;
  height: 15px;
  width: 15px;
  border-radius: 3px;
  position: absolute;
  left: 0;
  top: 0;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.checkRow input {
  position: absolute;
  visibility: hidden;
}
.checkRow input:checked + label::before {
  opacity: 0.8;
}

.productTop__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 40px;
  padding-top: 100px;
}

.crumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.crumbs a {
  text-decoration: none;
  color: inherit;
}
.crumbs a::after {
  content: "/";
  margin: 0px 5px;
  cursor: default;
}
.crumbs span {
  opacity: 0.6;
}

.navButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navButtons a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: inherit;
  opacity: 0.6;
  cursor: default;
}
.navButtons a:first-child::after {
  content: "";
  display: block;
  height: 22px;
  width: 1px;
  margin-left: 10px;
  background: #000;
}
.navButtons a:last-child {
  margin-left: 10px;
}
.navButtons--prev span {
  display: block;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-right: 5px;
}
.navButtons--next span {
  margin-left: 5px;
}
.navButtons--active {
  opacity: 1 !important;
  cursor: pointer !important;
}

.backButton {
  display: none;
}

.productCard__wrap {
  max-width: 980px;
  padding-top: 40px;
  padding-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.productCard__info {
  margin-left: 40px;
  max-width: 280px;
}
.productCard__info h5 {
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 6px;
}
.productCard__info p {
  margin-top: 20px;
  font-size: 15px;
  line-height: 120%;
}
.productCard__art {
  font-size: 22px;
  font-weight: 300;
}
.productCard__price {
  font-size: 20px;
  display: block;
  margin-top: 15px;
}
.productCard__gallerySlider {
  width: calc(100% - 320px);
}
.productCard__colorBlock {
  padding-top: 20px;
  padding-bottom: 20px;
}
.productCard__quantity {
  padding-bottom: 45px;
}
.productCard__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 20px;
  height: 40px;
  text-decoration: none;
  color: #fff;
  background: #F87D33;
}

.colorBlock__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.colorBlock__heading {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
}
.colorBlock__item {
  display: block;
  width: 30px;
  height: 30px;
  min-width: 30px;
  border-radius: 50%;
  padding: 3px;
  border: 1px solid transparent;
  margin-right: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.colorBlock__item--active, .colorBlock__item:hover {
  border-color: #000;
}
.colorBlock__item span {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.quantity {
  position: relative;
  width: 100px;
}
.quantity-nav {
  float: left;
  position: relative;
  height: 42px;
}
.quantity label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
}
.quantity-button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  width: 20px;
  padding-right: 10px;
  text-align: center;
  color: #333;
  font-size: 13px;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.quantity-button.quantity-up {
  position: absolute;
  height: 50%;
  top: 0;
}
.quantity-button.quantity-up span {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.quantity-button.quantity-down {
  position: absolute;
  bottom: -1px;
  height: 50%;
}
.quantity-button.quantity-down span {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.quantity:hover .quantity-button {
  opacity: 1;
}
.quantity input {
  width: 100%;
  height: 45px;
  line-height: 1.65;
  float: left;
  display: block;
  padding: 0;
  margin: 0;
  padding-left: 20px;
  border: 1px solid #c9c9c9;
  color: #575757;
}
.quantity input:focus {
  outline: 0;
}
.quantity input[type=number]::-webkit-inner-spin-button,
.quantity input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.quantity input[type=number] {
  -moz-appearance: textfield;
}

.gallerySlider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.gallerySlider__nav {
  min-width: 65px;
  width: 0;
  padding-right: 15px;
}
.gallerySlider__nav .slick-list {
  padding-top: 0 !important;
}
.gallerySlider__nav .slick-slide {
  border: 1px solid #F87D33 !important;
  -webkit-transition: 0.3s border;
  transition: 0.3s border;
}
.gallerySlider__nav .slick-slide.slick-current {
  border: 1px solid #000 !important;
}
.gallerySlider__nav .slick-slide:not(:last-child) {
  margin-bottom: 15px;
}
.gallerySlider__nav img {
  width: 100%;
}
.gallerySlider__for {
  width: calc(100% - 65px);
}
.gallerySlider__bigItem {
  overflow: hidden;
  aspect-ratio: 4/3;
}
.gallerySlider__bigItem img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.productDesc__wrap {
  padding-top: 60px;
  padding-bottom: 100px;
}
.productDesc__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
}
.productDesc section {
  position: relative;
}
.productDesc section h5 {
  font-weight: 300;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.productDesc section p {
  line-height: 140%;
}
.productDesc section:first-child {
  padding: 10px 30px 10px 0;
}
.productDesc section:first-child::after {
  content: "";
  display: block;
  height: 100%;
  width: 1px;
  background: #CACACA;
  position: absolute;
  right: 0;
  top: 0;
}
.productDesc section:nth-child(2) {
  padding: 10px 30px;
}
.productDesc section:nth-child(2)::after {
  content: "";
  display: block;
  height: 100%;
  width: 1px;
  background: #CACACA;
  position: absolute;
  right: 0;
  top: 0;
}
.productDesc section:last-child {
  padding: 10px 0px 10px 30px;
}

.popups {
  position: fixed;
  display: -ms-grid;
  display: grid;
  place-items: center;
  z-index: 20;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.popups--open {
  visibility: visible;
  opacity: 1;
}

.popupQuickLook {
  position: relative;
  width: 100%;
  background: #fff;
  padding: 30px;
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.popupQuickLook__slider {
  max-width: 520px;
  width: 100%;
}
.popupQuickLook__slider img {
  width: 100%;
}
.popupQuickLook__slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.popupQuickLook__slider .slick-dots li button {
  background: transparent;
  margin: 0px 5px;
  border: none;
  font-size: 0;
  width: 0;
  height: 0;
  position: relative;
}
.popupQuickLook__slider .slick-dots li button::after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background: #000;
  opacity: 0.4;
  border-radius: 50%;
  position: absolute;
  right: 50%;
  top: 50%;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.popupQuickLook__slider .slick-dots li.slick-active button::after {
  opacity: 1;
}
.popupQuickLook__price {
  margin-top: 20px;
}
.popupQuickLook__info {
  margin-left: 40px;
  max-width: 300px;
  min-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.popupQuickLook__info h5 {
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 6px;
}
.popupQuickLook__info p {
  margin-top: 20px;
  font-size: 15px;
  line-height: 120%;
}
.popupQuickLook__colorBlock {
  margin-top: 20px;
  margin-bottom: 20px;
}
.popupQuickLook__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 20px;
  height: 40px;
  text-decoration: none;
  color: #fff;
  background: #F87D33;
  margin-top: 30px;
}
.popupQuickLook__close {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.popupQuickLook__close span {
  position: absolute;
  width: 100%;
  height: 1px;
  display: block;
  background: #000;
}
.popupQuickLook__close span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.popupQuickLook__close span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}