@media screen and (max-width: 1260px) {
  .productGrid{
    &__grid{
      grid-gap: 15px;
      grid-row-gap: 30px;
      grid-template-columns: repeat(5, 1fr);
      width: calc(100% - 40px);
    }
  }
}

@media screen and (max-width: 1000px) {
  .popupQuickLook{
    &__slider {
      max-width: 300px;
    }
  }
}

@media screen and (max-width: 900px) {
  .mainBanner{
    &__wrap {
      grid-template-columns: repeat(1, 1fr);
    }

    &__title {
      margin-top: 0;

    }

    &__info {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }

  .teamBlock {
    &__grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .productGrid{
    &__grid{
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .posts {
    &__grid {
      grid-gap: 10px;
    }


  }

  .post {
    p {
      font-size: 22px;
    }
  }
}

@media screen and (max-width: 800px) {
  .header{
    &__nav {
      a {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  
  .title {
    font-size: 56px;
  }

  .titleBlock {
    overflow: hidden;
    position: relative;
    &__wrap {
      position: relative;
      padding-bottom: 20px;
      padding-top: 70px;
      z-index: 3;
    }

    &__title {
      color: #fff;
      font-size: 34px;
      max-width: 230px;
      margin: 0px auto;
      margin-bottom: 15px;
      line-height: 140%;
      color: #fcfcfc;
      br {
        display: none;
      }
    }
    
    &__subtitle {
      font-size: 22px;
      color: #fff;
      line-height: 140%;
      max-width: 265px;
      margin: 0px auto;
      color: #fcfcfc;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      transform: scale(2.8);
      transform-origin: bottom center;
      object-fit: cover;
      position: absolute;
      z-index: -1;
      bottom: 0;
      left: 0;
    }
  }

  .imgBanner {
    display: none;
  }

  .productGrid{
    &__grid{
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .posts {
    &__grid {
      grid-template-columns: repeat(2, 1fr);
      // max-width: 300px;
    }
  }

  // .catalogGrid {
  //   &__grid {
  //     grid-template-columns: repeat(3, 1fr);
  //   }
  // }

  .productCard {
    &__wrap {
      flex-direction: column;
      align-items: center;
    }

    &__info {
      margin-left: 0;
      margin-top: 30px;
      max-width: 500px;
    }

    &__gallerySlider{
      max-width: 500px;
      width: 100%;
    }
  }

  .gallerySlider{
    &__nav{
      display: none !important;
    }

    &__for {
      width: 100%;
      .slick-dots {
        display: flex;
        justify-content: center;
        li button {
          background: transparent;
          margin: 0px 5px;
          border: none;
          font-size: 0;
          width: 0;
          height: 0;
          position: relative;
          &::after {
            content: '';
            display: block;
            width: 8px;
            height: 8px;
            background: #000;
            opacity: 0.4;
            border-radius: 50%;
            position: absolute;
            right: 50%;
            top: 50%;
            transform: translate(50%, 50%);
            transition: 0.3s;
          }
        }

        li.slick-active button::after {
          opacity: 1;
        }
      }
    }
  }

  .productDesc{
    &__grid {
      grid-template-columns: repeat(1, 1fr);
    }

    &__wrap {
      padding-top: 40px;
      padding-bottom: 60px;
    }

    section:first-child,
    section:nth-child(2),
    section:last-child {
      padding: 0;
      &::after {
        display: none;
      }
    }

    section:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  .popupQuickLook{
    &__info {
      min-width: 200px;
      max-width: 200px;
    }

    &__slider {
      max-width: 265px;
    }
  }


  .catalogContent {
    &__filter {
      max-width: 160px;
      padding: 10px;
    }

    &__wrap {
      grid-template-columns: 160px 1fr;
    }
  }
}


@media screen and (max-width: 620px) {
  .header {

    &__top{
      grid-template-columns: 1fr 100px;
    }

    &__toggler {
      cursor: pointer;
      justify-self: end;
      height: 20px;
      width: 30px;
      min-width: 30px;
      position: relative;
      z-index: 10;
      span {
        position: absolute;
        width: 100%;
        height: 2px;
        background: #000;
        transition: 0.3s;

        &:first-child{
          top: 0;
        }

        &:nth-child(2) {
          top: 50%;
          transform: translateY(-50%)
        }

        &:last-child {
          bottom: 0;
        }
      }

      &--active {
        span:first-child {
          top: 50%;
          transform: translateY(-50%) rotate(45deg);
        }

        span:nth-child(2) {
          opacity: 0;
        }

        span:last-child {
          top: 50%;
          transform: translateY(-50%) rotate(-45deg);
        }
      }
    }

    &__logo{
      display: none;
    }

    &__loginButton {
      display: none;
    }

    &__nav {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #fff;
      display: flex;
      flex-direction: column;
      padding-top: 150px;
      visibility: hidden;
      opacity: 0;
      transition: 0.3s;
      z-index: 9;
      &--open {
        visibility: visible;
        opacity: 1;
      }
      a{
        font-size: 28px;
      }
    }
  }

  .mainBanner {

    &__wrap {
      min-height: 800px;
    }

    &__info {
      padding-right: 20px;
      padding-left: 20px;
    }

    &__title {
      font-size: 32px;
      br {
        display: none;
      }
    }
  }

  .teamBlock {
    &__grid {
      grid-template-columns: repeat(1, 1fr);
    }

    &__item {
      aspect-ratio: 1 /1 ;
      // max-height: 300px;
    }

    &__text {
      bottom: 20px;
      right: 20px;
      left: 20px;
      max-width: 100%;
      width: auto;
    }
  }

  .productGrid{
    &__grid{
      grid-template-columns: repeat(2, 1fr);
    }

    &__wrap {
      padding-bottom: 40px;
      padding-top: 40px;
    }
  }

  .productSlider{
    &__wrap {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }

  .posts{
    &__grid {
      grid-template-columns: repeat(1, 1fr);
      max-width: 300px;
      margin: 0px auto;
    }
  }

  .catalogGrid {
    &__grid {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    &__wrap {
      padding-top: 20px;
      padding-bottom: 40px;
      padding-right: 20px;
      padding-left: 20px;
    }
  }

  .productCard {
    &__wrap {
      padding-top: 20px;
      padding-bottom: 20px;
      padding-right: 20px;
      padding-left: 20px;
    }
  }

  .productDesc {

    &__wrap {
      padding-bottom: 30px;
    }

    section {
      &:not(:last-child) {
        margin: 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);;
      }
      h5 {
        padding: 24px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        cursor: pointer;
      }

      p {
        // overflow: hidden;
        // height: 0;
        display: none;
        padding-bottom: 24px;
      }
    }

    &__plus {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 15px;
      height: 15px;
      span {
        position: absolute;
        display: block;
        width: 100%;
        height: 1px;
        background: #000;
        transition: 0.3s;
        &:last-child{
          transform: rotate(90deg);
        }
      }

      &--minus {
        span:last-child {
          transform: rotate(0deg);
          // opacity: 0;
        }
      }
    }
  }

  .subForm {
    &__wrap {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }

  .popups {
    display: none;
  }

  .catalogContent {

    &__wrap {
      grid-template-columns: unset;
      padding-top: 40px;
    }

    &__headRow {
      grid-column: unset;
      flex-direction: row-reverse;
      padding-left: 0;
      padding-right: 10px;
      padding-left: 10px;
      h2 {
        display: none;
      }
    }

    &__filterBtn {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      height: 40px;
      font-size: 14px;
      border: 1px solid #000;
      margin-left: 10px;
      text-decoration: none;
      color: #000;
    }
  }

  .catalogContent__customSelect .ui-selectmenu-button.ui-button {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    &::before{
      content: "\e906";
      font-family: 'icomoon';
      transform: rotate(180deg);
    }

    &::after{
      content: "\e906";
      font-family: 'icomoon';
      
    }
  }
  .ui-selectmenu-text {
    display: none;
  }

  .filter {
    position: fixed;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
    transform: translateX(100%);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff;
    max-width: 100%;
    z-index: 20;
    padding: 20px;
    &__headRow {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      padding-bottom: 20px;
      border-bottom: 1px solid rgba(0,0,0,0.2);
    }

    &__bottomRow {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: auto;
      width: 100%;
    }

    &__button {
      display: grid;
      place-items: center;
      text-decoration: none;
      height: 55px;
      max-width: 134px;
      width: 100%;
      border: 1px solid #000;
      color: #fff;
      background: #000;
      transition: 0.3s;
      &--clear {
        margin-right: 10px;
        background: #fff;
        color: #000;
      }

      &:hover {
        opacity: 0.7;
      }
    }

    &__close {
      cursor: pointer;
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      span {
          position: absolute;
          width: 100%;
          height: 1px;
          display: block;
          background: #000;
          &:first-child {
              transform: rotate(45deg);
          }
          &:last-child {
              transform: rotate(-45deg);
          }
      }
    }

    &__clear {
      display: none;
    }

    &--open {
      transform: translateX(0);
    }
  }
}

@media screen and (max-width: 425px) {

  .wrap {
    padding-right: 10px;
    padding-left: 10px;
    &--full {
      padding-right: 0;
      padding-left: 0;
    }
  }

  .productCard {
    &__wrap {
      padding-top: 20px;
      padding-bottom: 20px;
      padding-right: 20px;
      padding-left: 20px;
    }
  }

  .productDesc {
    &__wrap {
      padding-right: 20px;
      padding-left: 20px;
    }
  }

  .productGrid{
    &__grid{
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .catalogGrid {
    // &__grid {
    //   grid-template-columns: repeat(1, 1fr);
    // }

    &__wrap {
      padding-right: 20px;
      padding-left: 20px;
    }
  }


  .productTop {
    &__wrap {
      padding-top: 40px;
      padding-bottom: 10px;
    }
  }

  .crumbs {
    display: none;
  }

  .navButtons {
    display: none;
  }

  .backButton {
    display: flex;
    text-decoration: none;
    color: inherit;
    font-size: 22px;  
    span {
      transform: rotate(-180deg);
      margin-right: 10px;
    }
  }
}